body{SCROLLBAR-FACE-COLOR: #CFCFCF;SCROLLBAR-3DLIGHT-COLOR: #CFCFCF;SCROLLBAR-ARROW-COLOR: #ffffff;SCROLLBAR-DARKSHADOW-COLOR: #CFCFCF;SCROLLBAR-BASE-COLOR:#CFCFCF;}

form{ margin:0;}

a:link { color: #83807d; text-decoration: none }
a:visited { color: #83807d; text-decoration: none }
a:hover { color: #83807d; text-decoration: underline }
a:active { color: #ff0000; text-decoration: none }

p { margin-top: 0px; margin-bottom: 0px }
td,table { font-size: 12px; color: #847f74; line-height: 160%;}

.select {font-size:9pt; color:#666666; border:1px solid #cccccc; background-color:#ffffff;}
.input {border:0px; font-size:9pt; color:#545454; border:1px solid #dfdfdf; background-color:#f7f7f7;}
.input_idpw {border:0px; font-size:10pt; color:#545454; border:1px solid #dfdfdf; background-color:#ffffff;}
.search_input { font-size:12px; color: #847f74; border: #cfcfcf 1px solid; background-color: #ffffff;}
.textarea {font-size:9pt; color:#666666; border:1px solid #e7e7e7; background-color:#f4f4f4;}

.paging{text-align:center}
.paging .prev_btn,
.paging .next_btn{vertical-align:middle}
.paging .prev_btn + .inner{display:inline-block;margin:0 10px}