@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 13px;
	color: #909090;
	margin: 0;
	background-color:#ffffff;
	overflow-y: scroll;
}

td	{ font-size: 12px; font-family: 'Nanum Gothic', sans-serif; line-height:20px;}
img	{ border:0; }

.small_t1 { font-size:11px; }

.t1	{ font-size:14px; color:#000000; font-weight:bold; letter-spacing:-0.2px;}
.t2	{ font-size:15px; color:#000000; font-weight:bold; letter-spacing:-0.2px;}
.t3	{ font-size:26px; color:#000000; font-weight:bold; letter-spacing:-0.2px;}
.t4	{ font-size:13px; color:#000000; font-weight:bold; letter-spacing:-0.2px;}
.t5	{ font-size:12px; color:#000000; font-weight:bold; letter-spacing:-0.2px;}
.t6	{ font-size:18px; color:#000000; font-weight:bold; letter-spacing:-0.2px;}

.onm { font-size:15px; color:#000000; font-weight:bold; }
.onm2 {color:#000000; font-weight:bold; }
.contents { line-height:20px; }




a:link			{ text-decoration: none; color: #656565 }
a:visited		{ text-decoration: none; color: #656565 }
a:hover			{ text-decoration: none; color: #000000 }

a.cm:link			{ font-size:11px; text-decoration: none; color: #909090 }
a.cm:visited		{ font-size:11px; text-decoration: none; color: #909090 }
a.cm:hover			{ font-size:11px; text-decoration: none; color: #000000 }


a.ct:link			{ text-decoration: none; color: #6ab3d1 }
a.ct:visited		{ text-decoration: none; color: #6ab3d1 }
a.ct:hover			{ text-decoration: underline; color: #40778e }

a.lc:link			{ text-decoration: none; color: #939393 }
a.lc:visited		{ text-decoration: none; color: #939393 }
a.lc:hover			{ text-decoration: none; color: #015794 }

a.sm:link		{ font-size:13px; text-decoration: none; color: #939393; }
a.sm:visited	{ font-size:13px; text-decoration: none; color: #939393; }
a.sm:hover		{ font-size:13px; text-decoration: none; color: #000000; }

a.sm2:link		{ text-decoration: none; color: #939393; }
a.sm2:visited	{ text-decoration: none; color: #939393; }
a.sm2:hover		{ text-decoration: none; color: #000000; }


a.navi:link		{ text-decoration: none; color: #c3dfe9; font-size:16px; font-weight:bold; letter-spacing:-1px; }
a.navi:visited	{ text-decoration: none; color: #c3dfe9; font-size:16px; font-weight:bold; }
a.navi:hover	{ text-decoration: none; color: #ffffff; font-size:16px; font-weight:bold; }

a.sub:link		{ text-decoration: none; color: #959595; font-size:13px;}
a.sub:visited	{ text-decoration: none; color: #959595; font-size:13px;}
a.sub:hover		{ text-decoration: none; color: #000000; font-size:13px;}


#apDiv_wrap {
	position:relative;
	width:357px;
	height: 145px;
}

#apDiv1 {
	position:absolute;
	width:357px;
}

#apDiv2 {
	position:absolute;
	width:357px;
	visibility: hidden;
}

#apDiv3 {
	position:absolute;
	width:357px;
	visibility: hidden;
}
